<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
   body { background:lightcyan } 
</style>
</head>
<body>

<div class="container">
  <h2>Forum</h2>
  <form>
    <div class="form-group">
      <label for="questTitle">Title:</label>
      <input type="text" class="form-control" ng-model="questTitle">
    </div>
    <div class="form-group">
      <label for="questDescription">Description:</label>
     
      <textarea class="form-control" rows="8" id="Descripton" ng-model="questDescription"></textarea>  
    </div>
   
    <button type="submit" ng-click="forum()">Submit</button>
  </form>
</div>
</div>

</body> 
</html>
